@charset "UTF-8";
.img-movie {
  display: block;
}

.box {
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #BDBDBD;
}

.movie-chart {
  margin: 86px auto;
  width: 1060px;
  background-color: #F2F2F2;
  padding: 0 26px 29px;
  /* list */
}
.movie-chart .title-chart, .movie-chart .list-category {
  text-align: center;
}
.movie-chart .title-chart {
  margin: 40px auto 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.movie-chart .title-chart::after {
  content: "";
  display: block;
  max-width: 650px;
  height: 2px;
  background-color: #BDBDBD;
  margin: 36px auto 0;
}
.movie-chart .list-category {
  /* js에서 선택시 추가될 class */
}
.movie-chart .list-category li {
  display: inline-block;
  margin: 27px 60px 28px 0;
  margin-right: 60px;
  margin-bottom: 28px;
  font-weight: 500;
  color: #828282;
}
.movie-chart .list-category li:last-child {
  margin-right: 0px;
}
.movie-chart .list-category li:hover {
  cursor: pointer;
}
.movie-chart .list-category .choose {
  color: #000;
  font-weight: 900;
}
.list-movie {
  width: 1003px;
  background-color: #fff;
  padding: 24px 25px 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  font-family: Noto Sans KR;
}
.content-movie {
  width: 220px;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  padding: 18px 19px 0 19px;
  box-sizing: border-box;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.content-movie .content-movie:hover {
  cursor: pointer;
}
.content-movie .img-movie {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  margin-bottom: 11px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.content-movie .title-movie {
  padding-bottom: 12px;
  font-size: 1em;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-movie .list-detail {
  font-size: 0.75em;
}
.movie-detail {
  /* 영화 상세내용 */
  color: #828282;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.5;
  margin-bottom: 17px;
}
.movie-detail p {
  margin-bottom: 5px;
}
.movie-detail .detail-genre {
  float: left;
}
.movie-detail .detail-genre::after {
  clear: both;
}
.movie-detail .detail-rating {
  text-align: right;
}
.movie-detail strong {
  margin-left: 5px;
  color: #000;
}

.content-movie .wrap-btns {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin: 0 -20px;
  background-color: #F2F2F2;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid #BDBDBD;
  box-sizing: border-box;
}
.content-movie .wrap-btns .btn-reserve {
  display: block;
  padding: 9px 0 12px;
}
.content-movie .wrap-btns .btn-teaser {
  display: inline-block;
  border-left: 1px solid #BDBDBD;
  position: relative;
}
.content-movie .wrap-btns .btn-teaser .img-play {
  width: 16px;
}
.content-movie .wrap-btns .btn-teaser::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 13px;
  background: no-repeat center/16px url(../images/icon_play.png);
}

footer {
  width: 100%;
  background-color: #F2F2F2;
  padding-top: 50px;
  /* https://yoojs1205.github.io/movie_list/ */
}
footer .top {
  /*     padding: 50px auto 42px; */
}
footer .top strong {
  font-weight: 700;
  font-size: 22px;
}
footer .top .content-sns {
  display: inline-block;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
footer .top .content-sns img {
  width: 24px;
}/*# sourceMappingURL=style copy.css.map */