@charset "utf-8";

$color-gray-dark : #BDBDBD;
$color-gray-light : #F2F2F2;
$font-color-light : #828282;
$font-stack : Roboto;
$font-content-stack : Noto Sans KR;

.img-movie {
  display: block;
}

.box {
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid $color-gray-dark;
}

.movie-chart {
  margin: 86px auto;
  width: 1060px;
  background-color: $color-gray-light;
  padding: 0 26px 29px ;
  .title-chart, .list-category {
    text-align: center;
  }

  .title-chart {
    margin: 40px auto 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .title-chart::after {
    content: '';
    display: block;
    max-width: 650px;
    height: 2px;
    background-color: $color-gray-dark;
    margin: 36px auto 0 ;
  } 

  /* list */
  .list-category {
    li {
      display: inline-block;
      margin : 27px 60px 28px 0;
      margin-right: 60px;
      margin-bottom: 28px;
      font-weight: 500;
      color: $font-color-light;
    }

    li:last-child {
      margin-right: 0px;
    }
    
    li:hover {
      cursor: pointer;
    }
    /* js에서 선택시 추가될 class */
    .choose {
      color: #000;
      font-weight: 900;  
    }
  }

  
  @at-root .list-movie {
    width: 1003px;
    background-color: #fff;
    padding: 24px 25px 28px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    font-family: $font-content-stack;

    @at-root .content-movie {
      width: 220px;
      background-color: #fff;
      border: 1px solid $color-gray-dark;
      padding: 18px 19px 0 19px;
      box-sizing: border-box; 
      overflow: hidden;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


      .content-movie:hover {
        cursor: pointer;
      }
      
      .img-movie{
        width: 100%;
        border: 1px solid $color-gray-dark;
        border-radius: 10px;
        margin-bottom: 11px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      
      .title-movie {
        padding-bottom: 12px;
        font-size: 1em;
        font-weight: 900;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .list-detail {
        font-size: 0.75em;
      }

      @at-root .movie-detail {
      /* 영화 상세내용 */
        color: $font-color-light;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 1.5;
        margin-bottom: 17px;

        p {
          margin-bottom: 5px;
        }
        .detail-genre {
          float: left;
        }

        .detail-genre::after {
          clear: both;
        }

        .detail-rating {
          text-align: right;
        }

        strong {
          margin-left: 5px;
          color: #000;
        }
      }

      .wrap-btns {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        margin: 0 -20px;
        background-color: #F2F2F2;
        font-weight: 500;
        font-size: 0.8rem;
        text-align: center;
        border-top: 1px solid #BDBDBD;
        box-sizing: border-box;
        
        .btn-reserve {
          display: block;
          padding: 9px 0 12px;
        }

        .btn-teaser {
          display: inline-block;
          border-left: 1px solid #BDBDBD;
          position: relative;
          .img-play {
            width: 16px;
          }
        }

        .btn-teaser::before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: 10px;
          left: 13px;
          background: no-repeat center/ 16px url(../images/icon_play.png);
        }
      }
    }
  }
    
}

footer {
  width: 100%;
  background-color: $color-gray-light;
  padding-top: 50px;
  
  .top {
/*     padding: 50px auto 42px; */

    strong{
      font-weight: 700;
      font-size: 22px;
    }
    
    .content-sns {
      display: inline-block;
      font-weight: 700;
      font-size: 2.2rem;
      line-height: 2.6rem;
      
    
    img {
      width: 24px;
    }
  }
  }
  /* https://yoojs1205.github.io/movie_list/ */
}



